<%= render 'layouts/dropdown' %>


<div class="para1">
<p>We have now created your company and also created an administrator using your mail address and password. The evaluation period of 14 days has now started.<br>
You can now login and start using our functions.</p> 
<p></p>
<p>We hope you will find our services useful!</p>
<p></p>
An administrator account has been created for you, with the following mail address:<div class="email1"><%= @user.email%></div></p>
<p></p>
</div>

<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  <div class="span8">
    <% if !@user.expensescounters.any? %>
      <h3>Your Expenses (<%= @user.expensescounters.count %>)</h3>
      <ol class="expensescounters">
        <%= render @expensescounters %>
      </ol>
    <% end %>
  </div>
</div>

<p></p>
<p></p>
<p> You can start to manage expense from here:<strong><%= link_to "click here", '/manageexpense' %></strong></p>
