<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @quantity.title %>
</p>

<p>
  <b>Price:</b>
  <%= @quantity.price %>
</p>

<p>
  <b>Day:</b>
  <%= @quantity.day %>
</p>

<p>
  <b>Month:</b>
  <%= @quantity.month %>
</p>

<p>
  <b>Year:</b>
  <%= @quantity.year %>
</p>

<p>
  <b>Expense_on:</b>
  <%= @quantity.expense_on %>
</p>


<%= link_to 'Edit', edit_quantity_path(@quantity) %> |
<%= link_to 'Back', quantities_path %>
