<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<%= render 'layouts/dropdown' %>

<h1>Listing Quantities</h1>

<% @quantities.each do |quantity| %>
  <div class="entry">
    <h3><%= quantity.title %></h3>
      <div class="price_line">
         <span class="price"><%= number_to_currency(quantity.price, :unit => "Rs. " ) %></span>
         <div class="outer">
           <div class="inner">
             <%= button_to 'Add to count', line_items_path(quantity_id: quantity) %>
            </div>
         </div>
      </div>
  </div>
<% end %>
